<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/bootstrap.min.css">
    </head>
    <body>
        <form action="/search" class="m-2 p-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="query">
                <button class="input-group-text btn btn-primary" id="basic-addon2">Search</button>
            </div>
        </form>
        <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class="p-3">
            {% for result in results %}
                <span class="card m-1 p-2">
                    <a href="{{ result['href'] }}"><h5>{{ result['title'] }}</h5></a>
                </span>
            {% endfor %}
            <center class="btn-group" role="group" aria-label="Basic outlined example">
                {% if page == 0 %}
                <a type="button" class="btn btn-outline-primary" disabled="disabled">Prev Page</a>
                {% else %}
                <a type="button" class="btn btn-outline-primary" href="/search?query={{ query }}&page={{ str(int(page) - 1) }}">Prev Page</a>
                {% endif %}
                <a type="button" class="btn btn-outline-primary">{{ str(int(page) + 1) }}</a>
                <a type="button" class="btn btn-outline-primary" href="/search?query={{ query }}&page={{ str(int(page) + 2) }}">Next Page</a>
            </center>
        </div>
    </body>
</html>
